.icon-arr-top, .icon-car-act, .icon-car, .icon-detail-act, .icon-detail,
.icon-pen-act, .icon-pen, .icon-hand-act, .icon-hand, .icon-cart,
.icon-present-act, .icon-present, .icon-mail, .icon-user, .icon-fb,
.icon-inst, .icon-tw, .icon-vk, .icon-paper, .icon-akticom,
.icon-mail-sm, .icon-search, .icon-tel, .icon-user-sm
{ display: inline-block; vertical-align: middle; background: url('../img/icons/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.icon-arr-top { background-position: -5px -0px; width: 60px; height: 35px; }
.icon-car-act { background-position: -5px -40px; width: 58px; height: 49px; }
.icon-car { background-position: -5px -94px; width: 58px; height: 49px; }
.icon-detail-act { background-position: -5px -148px; width: 58px; height: 58px; }
.icon-detail { background-position: -5px -211px; width: 58px; height: 58px; }
.icon-pen-act { background-position: -5px -274px; width: 58px; height: 58px; }
.icon-pen { background-position: -5px -337px; width: 58px; height: 58px; }
.icon-hand-act { background-position: -5px -400px; width: 53px; height: 58px; }
.icon-hand { background-position: -5px -463px; width: 53px; height: 58px; }
.icon-cart { background-position: -5px -526px; width: 40px; height: 35px; }
.icon-present-act { background-position: -5px -566px; width: 40px; height: 58px; }
.icon-present { background-position: -5px -629px; width: 40px; height: 58px; }
.icon-mail { background-position: -5px -692px; width: 35px; height: 27px; }
.icon-user { background-position: -5px -724px; width: 31px; height: 35px; }
.icon-fb { background-position: -5px -764px; width: 30px; height: 30px; }
.icon-inst { background-position: -5px -799px; width: 30px; height: 30px; }
.icon-tw { background-position: -5px -834px; width: 30px; height: 30px; }
.icon-vk { background-position: -5px -869px; width: 30px; height: 30px; }
.icon-paper { background-position: -41px -724px; width: 19px; height: 25px; }
.icon-akticom { background-position: -41px -754px; width: 16px; height: 20px; }
.icon-mail-sm { background-position: -40px -779px; width: 16px; height: 12px; }
.icon-search { background-position: -40px -796px; width: 16px; height: 16px; }
.icon-tel { background-position: -40px -817px; width: 16px; height: 16px; }
.icon-user-sm { background-position: -45px -692px; width: 14px; height: 16px; }
