// begin footer
+b.FOOTER.footer
	+e.container.container
		+e.col
			+e.H4.title.title Штрих.ру
			+e.UL.list
				+e.LI
					+e.A(href='#!') О компании
				+e.LI
					+e.A(href='#!') Наша команда
				+e.LI
					+e.A(href='#!') Портфолио
				+e.LI
					+e.A(href='#!') Контакты
				+e.LI
					+e.A(href='#!') Доставка
				+e.LI
					+e.A(href='#!') Сотрудничество

		+e.col
			+e.H4.title.title НАШИ УСЛУГИ
			+e.UL.list
				+e.LI
					+e.A(href='#!') Печать календарей
				+e.LI
					+e.A(href='#!') Дизайн календарей
				+e.LI
					+e.A(href='#!') Наша типография
				+e.LI
					+e.A(href='#!') Дизайн

		+e.col
			+e.H4.title.title помощь по сайту
			+e.UL.list
				+e.LI
					+e.A(href='#!') Как сделать заказ
				+e.LI
					+e.A(href='#!') Задать вопрос
				+e.LI
					+e.A(href='#!') Требования к макетам
				+e.LI
					+e.A(href='#!') Политика конфиденциальности

		+e.col.ADDRESS.footer__address
			+e.H4.title.title Связаться с нами
			+e.address-item
				+e.address-city МОСКВА
				+e.address-str Адрес: ул. Яккиманка 45/3
				+e.A.address-tel(href='tel:84991971970') 8-499 197-19-70
			+e.address-item
				+e.address-city САМАРА
				+e.address-str Адрес: ул. Яккиманка 45/3
				+e.A.address-tel(href='tel:88462658080') 8-846 265-80-80
			+e.address-item
				+e.address-city ТОЛЬЯТТИ
				+e.address-str Адрес: ул. Яккиманка 45/3
				+e.A.address-tel(href='tel:88482704040') 8-8482 70-40-40
			+e.address-item
				+e.address-city САРАТОВ
				+e.address-str Адрес: ул. Яккиманка 45/3
				+e.A.address-tel(href='tel:88452338690') 8-8452 33-86-90

		+e.col
			+e.H4.title.title МЫ В СЕТИ
			+b.socials
				+e.A.link(href='#!' target='_blank')
					.icon-fb
				+e.A.link(href='#!' target='_blank')
					.icon-tw
				+e.A.link(href='#!' target='_blank')
					.icon-vk
				+e.A.link(href='#!' target='_blank')
					.icon-inst


			+e.A(href='#!').mail-link.link sales@shtrih.ru
			+e.A(href='#!').write-btn.btn._red НАПИСАТЬ

		+e.copy
			+e.A.logo(href='#!')
				+e.IMG(src='static/img/icons/logo-xs.png' alt='image')
			+e.P © 2017
				|
				+e.A(href='#!') www.suveniroved.ru
				= ' '
				| - Один из крупнейших в России интернет-каталогов Сувениров, подарков и сувенирной продукции. При использовании материалов сайта, ссылка на источник обязательна.

		+e.A(href='#!').dev-link Сделано руками
			br
			|
			span Актиком
			.icon-akticom